*{
    font-family: 'Open Sans', sans-serif;
}
.hola{
    color: orange;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.cajalogo{
    display: flex;
    justify-content: center;
}
.logo{
    width: 20%;
    height: 20%;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; /* Ajusta según sea necesario */
}

.menu a {
    text-decoration: none;
    color: #333; /* Color del texto */
    padding: 10px 20px; /* Ajusta según sea necesario */
}
.menu a:hover {
    color: #ff6600; /* Cambia el color del texto al hacer hover */
    border-bottom: 2px solid #ff6600; /* Añade un borde al hacer hover */
}
.text-with-image{
    display: flex;
    background-color: #D9D9D9;
}
.text{
    width: 90%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;

}
.cajaimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto{
    width: 80%;
    height: 80%;
}
.titulo{
    display: flex;
    justify-content: center;
    padding-top:2% ;
    font-size: 30px;
}
.contServicios{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    background-color: #D9D9D9;

}

.contServicios div{
    margin: 2%;
    width: 50%;

}
.servicioder {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.mi_mapa{
    margin-top: 4%;
    display: flex;
    margin-left: 10%;
    width: 80%;
    height: 350px;
    margin-bottom: 4%;
}
.donde_encontrarnos{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 4%;

}
.donde_encontrarnos h2{
    text-align: center;
    padding-bottom: 3%;
    font-size: 30px;
}
.donde_encontrarnos p{
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}

/* Estilos del botón */
.x-primary-button {
    /* Estilos de tamaño */
    width: 80px; /* Ancho */
    padding: 8px 16px; /* Relleno */
    /* Estilos de color y fondo */
    background-color: #ff9900; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    /* Estilos de borde y esquinas */
    border: none; /* Sin borde */
    border-radius: 4px; /* Esquinas redondeadas */
    /* Estilos de tipografía */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: 600; /* Grosor de fuente */
    /* Estilos de interacción */
    cursor: pointer; /* Cursor */
    /* Estilos de efecto hover */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
}

/* Estilos de hover */
.x-primary-button:hover {
    background-color: #ff8c00; /* Cambio de color de fondo al pasar el ratón */
}

/* Estilos de enfoque */
.x-primary-button:focus {
    outline: none; /* Eliminar el contorno al enfocar */
    box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.5); /* Sombra de enfoque */
}

/* Estilos de enfoque activo */
.x-primary-button:focus:active {
    box-shadow: 0 0 0 3px rgba(255, 153, 0, 0.7); /* Sombra de enfoque activo */
}

